################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/hdf5Test/hdf5Test/hdf5Test/__pycache__
/hdf5Test/hdf5Test/app/__pycache__
/hdf5Test/hdf5Test/app/migrations/__pycache__
/hdf5Test/.vs/config
/hdf5Test/.vs/hdf5Test/v16
/hdf5Test/.vs/hdf5Test/config
