










{% extends "app/layout.html" %}

{% block content %}
<div>
    <input type='hidden' id="imgHiddenName" value=''/>
    <input type='hidden' id="imgHiddenIndex" value='-1'/>
</div>

<div id="content">
    <div class="content_title_icon content_icon"></div>
    <div class="content_title1">H5 image</div>
    <div id="div_dtl" class="box_content_T_05">
        <div class="ips_content_sub">
            <div class="first_content_title">
                <button type="button" id="getImageBtn" class="btn btn-primary">GET IMAGE</button>
                <button type="button" id="makeH5Btn" class="btn btn-primary">BUTTEN2</button>
                <button type="button" id="makeH5Btn" class="btn btn-primary">BUTTEN3</button>
                <button type="button" id="makeH5Btn" class="btn btn-primary">BUTTEN4</button>
            </div>
            <div class="first_content1">
                <img src={{ imgVal }} class ="imgTag" id="imgTag1" style="display:none"/>

            </div>

            <div class="first_content1">
                <img src={{ imgVal }} class ="imgTag" id="imgTag2" style="display:none"/>

            </div>

            <div class="first_content1">
                <img src={{ imgVal }} class ="imgTag" id="imgTag3" style="display:none"/>

            </div>
            <!--
            <div class="first_content">
                <div class="div_foot">
                    <div class="foot_btn_div">
                        <button type="button" id="makeH5Btn" class="button_h5 btnK01">PROGRESS</button>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        for (var i = 1; i <= 3; i++) {
            $('#imgTag' + i).attr('src', '');
        }
        $("#getImageBtn").click(function(event){
            event.preventDefault();
            $.ajax({
                    type:"POST",
                    url:"/getImage/",
                    data: {
                        'fileName': $('#imgHiddenName').val(), // from form
                        'fileIndex': $('#imgHiddenIndex').val() // from form
                        },
                success: function (data) {
                    if (data.success) {
                        var src1 = $('#imgTag2').attr('src');
                        var src2 = $('#imgTag3').attr('src');

                        $('#imgTag1').stop().animate({opacity:'0'},function(){
                            $('#imgTag1').attr('src', src1);
                            $('.imgTag').show();
                        }).load(function(){
                            $('#imgTag1').stop().animate({opacity:'1'});
                        });
                        $('#imgTag2').stop().animate({opacity:'0'},function(){
                            $('#imgTag2').attr('src', src2);
                        }).load(function(){
                            $('#imgTag2').stop().animate({ opacity: '1' });
                            //$('.imgTag').show();
                        });
                        /*
                        for (var i =1; i < 3; i++) {
                            //$('#imgTag' + (i)).attr('src', $('#imgTag' + (i + 1)).attr('src'));
                            //var image = $('#imgTag' + (i));
                            //image.fadeIn('fast', function () {
                            //    image.attr('src', $('#imgTag' + (i + 1)).attr('src'));
                            //});
                            $('#imgTag' + (i)).stop().animate({opacity:'0'},function(){
                                //$('#imgTag' + (i)).attr('src', $('#imgTag' + (i + 1)).attr('src'));
                                $('#imgTag' + (i)).attr('src', src1);
                            }).load(function(){
                                $('#imgTag' + (i)).stop().animate({opacity:'1'});
                            });
                        }
                        */
                        $('#imgHiddenName').val(data.fName);
                        $('#imgHiddenIndex').val(data.fIndex);
                        //$('#imgTag3').attr('src', data.imgForm);
                        //var image = $('#imgTag3')
                        //image.fadeIn('fast', function () {
                        //    image.attr('src', data.imgForm);
                        //});
                        $('#imgTag3').stop().animate({opacity:'0'},function(){
                            $('#imgTag3').attr('src',data.imgForm);
                        }).load(function(){
                            $('#imgTag3').stop().animate({opacity:'1'});
                        });

                    }
                }
            });
            return false;
        });

    });

</script>






{% endblock %}




