










{% extends "app/layout.html" %}

{% block content %}
<div>
    <input type='hidden' id="imgHiddenName" value=''/>
    <input type='hidden' id="urlurl" value=''/>
    <input type='hidden' id="imgHiddenIndex" value='-1'/>
</div>

<div id="content">
    <div class="content_title_icon content_icon"></div>
    <div class="content_title1">Dir image </div>
    <div id="div_dtl" class="box_content_T_05">
        <div class="ips_content_sub">
            <div class="first_content_title">
                <button type="button" id="getImageBtn" class="button_h5 btnK01">GET IMAGE</button>
                <button type="button" id="makeH5Btn" class="button_h5 btnK01">BUTTEN2</button>
                <button type="button" id="makeH5Btn" class="button_h5 btnK01">BUTTEN3</button>
                <button type="button" id="makeH5Btn" class="button_h5 btnK01">BUTTEN4</button>
            </div>
            <div class="first_content1">
                <img src={{ imgVal }} class ="imgTag" id="imgTag1" alt="Test Img1" style=""/>

            </div>

            <div class="first_content1">
                <img src={{ imgVal }} class ="imgTag" id="imgTag2" alt="Test Img2" style=""/>

            </div>

            <div class="first_content1">
                <img src={{ imgVal }} class ="imgTag" id="imgTag3" alt="Test Img3" style=""/>

            </div>
            <!--
            <div class="first_content">
                <div class="div_foot">
                    <div class="foot_btn_div">
                        <button type="button" id="makeH5Btn" class="button_h5 btnK01">PROGRESS</button>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        for (var i = 1; i <= 3; i++) {
            $('#imgTag' + i).attr('src', '');
        }
        $("#getImageBtn").click(function(event){
            event.preventDefault();
            $.ajax({
                    type:"POST",
                    url:"/getImageByDir/",
                    data: {
                        'fileName': $('#imgHiddenName').val(), // from form
                        'fileIndex': $('#imgHiddenIndex').val() // from form
                        },
                success: function (data) {
                    if (data.success) {
                        var src1 = $('#imgTag2').attr('src');
                        var src2 = $('#imgTag3').attr('src');

                        $('#imgTag1').stop().animate({opacity:'0'},function(){
                            $('#imgTag1').attr('src', src1);
                        }).load(function(){
                            $('#imgTag1').stop().animate({opacity:'1'});
                        });
                        $('#imgTag2').stop().animate({opacity:'0'},function(){
                            $('#imgTag2').attr('src', src2);
                        }).load(function(){
                            $('#imgTag2').stop().animate({opacity:'1'});
                            });

                        $('#imgHiddenName').val(data.fName);
                        $('#imgHiddenIndex').val(data.fIndex);
                        //$('#imgHiddenIndex').val(data.fIndex);
                        //dirAddr = "C://Users/dyyoo/source/repos/h5Test/h5Test/static/uploads/";
                        dirAddr = "static/uploads/";
                        $('#imgTag3').stop().animate({opacity:'0'},function(){
                            $('#imgTag3').attr('src',dirAddr + data.fName);
                        }).load(function(){
                            $('#imgTag3').stop().animate({opacity:'1'});
                        });
                    }
                }
            });
            return false;
        });

    });

</script>





{% endblock %}




